export("setBatchSize<-")
export("setCancel<-")
export("setCancelMessage<-")
export("setErrorFunction<-")
export("setExecuteFunction<-")
export("setFF<-")
export("setFinalMomentum<-")
export("setFineTuneFunction<-")
export("setGenWeightFunction<-")
export("setHiddenBiases<-")
export("setHiddenBiasesInc<-")
export("setHiddenUnitFunction<-")
export("setHiddenUnitStates<-")
export("setLayer<-")
export("setLayerField<-")
export("setLayerFunction<-")
export("setLayerWeights<-")
export("setLayers<-")
export("setLearnRateBiasHidden<-")
export("setLearnRateBiasVisible<-")
export("setLearnRateBiases<-")
export("setLearnRateWeights<-")
export("setLogLevel<-")
export("setMomentum<-")
export("setMomentumSwitch<-")
export("setNumHidden<-")
export("setNumVisible<-")
export("setOutput<-")
export("setPosPhaseData<-")
export("setRBMList<-")
export("setStats<-")
export("setUpdateFunction<-")
export("setVisibleBiases<-")
export("setVisibleBiasesInc<-")
export("setVisibleUnitFunction<-")
export("setVisibleUnitStates<-")
export("setWeightCost<-")
export("setWeightInc<-")
export("setWeights<-")
export(addExecOutput)
export(addLayer)
export(addLayerField)
export(backpropagation)
export(binSigmoidUnit)
export(crossEntropyError)
export(fineTuneDArch)
export(generateRBMs)
export(generateWeights)
export(getBatchSize)
export(getCancel)
export(getCancelMessage)
export(getErrorFunction)
export(getExecOutput)
export(getExecOutputs)
export(getExecuteFunction)
export(getFF)
export(getFinalMomentum)
export(getFineTuneFunction)
export(getGenWeightFunction)
export(getHiddenBiases)
export(getHiddenBiasesInc)
export(getHiddenUnitStates)
export(getLayer)
export(getLayerField)
export(getLayerFunction)
export(getLayerWeights)
export(getLayers)
export(getLearnRateBiasHidden)
export(getLearnRateBiasVisible)
export(getLearnRateBiases)
export(getLearnRateWeights)
export(getMomentum)
export(getMomentumSwitch)
export(getNumHidden)
export(getNumVisible)
export(getOutput)
export(getPosPhaseData)
export(getRBMList)
export(getStats)
export(getVisibleBiases)
export(getVisibleBiasesInc)
export(getVisibleUnitStates)
export(getWeightCost)
export(getWeightInc)
export(getWeights)
export(linearUnit)
export(linearUnitDerivative)
export(linearUnitFunc)
export(loadDArch)
export(loadRBM)
export(loadRBMFFWeights)
export(makeStartEndPoints)
export(minimize)
export(minimizeAutoencoder)
export(minimizeClassifier)
export(mseError)
export(newDArch)
export(newRBM)
export(preTrainDArch)
export(quadraticError)
export(rbmUpdate)
export(readMNIST)
export(removeLayerField)
export(resetDArch)
export(resetExecOutput)
export(resetRBM)
export(rpropagation)
export(runDArch)
export(saveDArch)
export(saveRBM)
export(saveRBMFFWeights)
export(sigmUnitFunc)
export(sigmUnitFuncSwitch)
export(sigmoidUnit)
export(sigmoidUnitDerivative)
export(softmaxUnit)
export(softmaxUnitDerivative)
export(trainRBM)
exportClasses(DArch)
exportClasses(Net)
exportClasses(RBM)
import(ff)
import(futile.logger)
import(methods)
